@(token: String, form: play.data.Form[controllers.Models.User],errorMenssage: String, isError: Boolean, strings: LocalizedStrings)
@main("Carona") {
<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta name="viewport" content="width=device-width", initial-scale=1.0 charset="UTF-8" />
      <title>Carona</title>
      <style type="text/css">#input-token{
        visibility: hidden;
      }</style>

      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
      <link rel="stylesheet" href="styles.css">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login-style.css")">

    </head>
    <body>

      <div id="header">
        <h1>Carona</h1>
      </div>

      <div id="fields-sign-up" class="forms">

        @if(errorMenssage != null && !errorMenssage.trim().equals("")) {
          @if(isError) {
            <div class="alert alert-danger">
              <p>@(errorMenssage)</p>
            </div>
          } else {
            <div class="alert alert-success">
              <p>@(errorMenssage)</p>
            </div>
          }
        }

        <div id="Register"class="text-center" >
          <div class="logo">@strings.get("newCarona_New_Carona")</div>
        </div>

        @helper.form(routes.CaronaController.createCarona()) {
        <div id="input-starting-district" class="input">
            <input type="text" name="startingDistrict" class="form-control" placeholder="@strings.get("newCarona_leaving_neighbordhood")"/>
        </div>

        <div id="input-starting-road" class="input">
          <input type="text" name="startingRoad" class="form-control" placeholder="@strings.get("newCarona_leaving_street")"/>
        </div>

        <div id="input-arrival-district" class="input">
          <input type="text" name="arrivalDistrict" class="form-control" placeholder="@strings.get("newCarona_going_neighbordhood")"/>
        </div>

        <div id="input-arrival-road" class="input">
          <input type="text" name="arrivalRoad" class="form-control" placeholder="@strings.get("newCarona_going_street")"/>
        </div>

          <div id="input-number-vacancies" class="input">
            <input type="text" name="numberVacancies" class="form-control" placeholder="@strings.get("newCarona_number_seats")"/>
          </div>


          <div id="input-time" class="input">
          <div id="starting-time">@strings.get("newCarona_departure_time")</div>
          <input type="time" name="startingTme" class="form-control"/>
        </div>
          <div id="input-token" class="input">
            <input type="text" name="token" class="form-control" value="@token" />
          </div>

        <button id="btn-register" value="@token" type="submit" class="login-button">@strings.get("newCarona_botton_create")
            <i class="fa fa-chevron-right"></i></button>
        }
      </div>

      <footer class="well well-lg">
        @strings.get("footer")
        @if(strings.getLanguage().equals("EN")) {
          <a href="#" onclick="setLanguage('PT')">Veja em português</a>
        } else {
          <a href="#" onclick="setLanguage('EN')">See in english</a>
        }

      </footer>



      <script>
              function setLanguage(language) {
                $.ajax({
                  type: 'POST',
                  url: '/setLanguage/' + language,
                  success: function(response) {
                    window.location.href = '/newCarona';
                  },
                  error: function(response) {
                    alert("ERRO")
                  }
                });
              }
      </script>
    </body>
  </html>
}