@(usuario: controllers.Models.User, form: play.data.Form[controllers.Models.User])

@main("Carona") {

<!DOCTYPE html>
<html lang="en">

    <head style="background-color: gray">
        <meta charset="UTF-8">
        <title>Carona</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script type="text/css">
    #page-header{
    text-align: center;
    background: grey !important;
    }

    body{
    background: blue;
    background-color: #1b6d85 !important;
    }

    </script>
    </head>


    <body style="color: #1b6d85">
        <script language="JavaScript">
                function vai(combo){
                    var x = combo.selectedIndex;
                    var endereco = combo.options[x].value;
                    window.location.href = "@routes.UserController.changeUser()"
                }
        </script>
        <div  class="page-header" align="center" style="background-clip: border-box">
            <h1>Carona</h1>
        </div>
        <div class="row" style="background-color: #1b6d85">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="margin: 10px">
                    <img src="@routes.Assets.versioned("images/images.jpg")" alt="...">
                    <div class="caption">
                        <h3>@(usuario.getName()), motorista <br>(0 vagas em seu veículo)</br></h3>
                    </div>
                    <div>
                        <select size="1" name="D1" onchange="vai(this);">
                            <option value="/perfilDriver">Motorista</option>
                            <option value="/perfilpassenger">Passageiro</option>
                        </select>
                    </div>
                    <div class="caption" style="margin-top: 0px">
                        <a href="/newCarona">New Carona</a>
                    </div>
                    <div class="caption" style="margin-top: 0px">
                        <a href="/updateData">Update Data</a>
                    </div>
                    <div class="caption" style="margin-top: 0px">
                        <a href="/logout">Logout</a>
                    </div>

                </div>
            </div>
            <div class="col-sm-6" style="margin-top: 10px">
                <div class="row">
                    <h1 style="color: #000000">Solicitations:</h1>
                </div>
                <ul class="list-group">
                    @for(solicitationsIndex <- 0 to (usuario.getSolicitations().size() -1)){
                        @helper.form(routes.UserController.selectSolicitation()) {
                            <li class="list-group-item", name="linha">
                                <button style="width: 100%; height: 100%" type="submit" href="#" value= "@solicitationsIndex" name="solicitationsIndex">
                                    <div><img  style="width: 50px; height: 50px;display: block; float:left; margin:10px" src="@routes.Assets.versioned("images/images.jpg")" alt="..."></div>
                                    <div style="float: left">
                                        <ul class="list-group" style="display: inline; list-style-type:none;">
                                            <li><div style="margin-left:10px; float: left">Name: @usuario.getSolicitations().get(solicitationsIndex).getName()</div></li>
                                            <li><div style="margin-left:10px; float: left">Location: @usuario.getSolicitations().get(solicitationsIndex).getStartingAddress()</div></li>
                                            <li><div style="margin-left:10px; float: left">Horário: @usuario.getSolicitations().get(solicitationsIndex).getHour()</div></li>
                                        </ul>
                                    </div>
                                </button>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <footer class="well well-lg" style="text-align: center">
            Authored by: Caio, Carlos, Izabella, Jefferson and Yago *All rights reservated

        </footer>
        <script style="font-size: 14" language="JavaScript">
                if(@usuario.getSolicitations().size == 1){
                    window.alert("Você tem " + @usuario.getSolicitations().size + " solicitação de carona")
                }else {
                    window.alert("Você tem " + @usuario.getSolicitations().size + " solicitações de carona")
                }
        </script>
    </body>
</html>
}
