@(form: play.data.Form[controllers.Models.User], errorMesage: String, strings: LocalizedStrings)

@main("Carona") {
<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta name="viewport" content="width=device-width", initial-scale=1.0 charset="UTF-8" />
      <title>Carona</title>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
      <link rel="stylesheet" href="styles.css">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login-style.css")">

    </head>
    <body>

      <div id="header">
        <h1>Carona</h1>
      </div>

      <div id="fields-sign-up" class="forms">

        <div id="Register"class="text-center" >
          <div class="logo">@strings.get("register_register")</div>
        </div>

        @if(errorMesage != null && !errorMesage.trim().equals("")) {
          <div class="alert alert-danger">
            <p>@(errorMesage)</p>
          </div>
        }

        @helper.form(routes.UserController.register()) {
          <div id="input-name" class="input">
            <input type="text" name="name" class="form-control" placeholder="@strings.get("register_name")"/>
          </div>

          <div id="input-registration" class="input">
            <input type="text" name="registration" class="form-control" placeholder="@strings.get("register_registation_number")"/>
          </div>

          <div id="input-phone-number" class="input">
            <input type="text" name="phone-number" class="form-control" placeholder="@strings.get("register_phone")"/>
          </div>

          <div id="input-email" class="input">
            <input type="email" name="email" class="form-control" placeholder="@strings.get("register_email")"/>
          </div>

          <div id="input-password" class="input">
            <input type="password" name="password" class="form-control" placeholder="@strings.get("register_password")">
          </div>

          <div id="input-new-password" class="input">
            <input type="password" name="new-password" class="form-control" placeholder="@strings.get("register_confirm_password")">
          </div>

          <div id="input-adress" class="input">
            <input type="text" name="district" class="form-control" placeholder="@strings.get("register_neighborhood")"/>
          </div>

          <div id="input-road" class="input">
            <input type="text" name="road" class="form-control" placeholder="@strings.get("register_street")"/>
          </div>

          <div id="choose-type-user">
            @strings.get("register_driver")
            <input type="radio" name="isDriver" onclick="show_n_vagas()"  id="is-driver" value="track"/>@strings.get("register_yes")
            <input type="radio"  name="isPassenger" onclick="hide_n_vagas()" id="is-passenger" checked />@strings.get("register_no")
          </div>

          <div id="input-number-passenger" class="input" style="visibility: hidden;display: none">
            <input type="text" name ="numberPassenges" class="form-control" placeholder="@strings.get("register_seats")"/>
          </div>

          <button id="btn-register" type="submit" class="login-button"> @strings.get("register_register")
            <i class="fa fa-chevron-right"></i></button>
        }

        <div id="login-now" class="etc-login-form" style="margin-bottom: 30px;">
          @strings.get("register_account") <a href="#" onclick="login_click()">@strings.get("register_login")</a>
        </div>

      </div>

      <footer class="well well-lg" style="text-align: center">
      @strings.get("footer")
        @if(strings.getLanguage().equals("EN")) {
          <a onclick="setLanguage('PT')">Veja em português</a>
        } else {
          <a onclick="setLanguage('EN')">See in english</a>
        }

      </footer>


      <script>
              function hide_n_vagas(){
                var remember = document.getElementById('is-passenger');
                var driver = document.getElementById('is-driver');
                if (remember.checked){
                  driver.checked = false;
                  document.getElementById('input-number-passenger').setAttribute('style','visibility:hidden; display:none');

                }else{
                  driver.checked = true;
                  document.getElementById('input-number-passenger').setAttribute('style','visibility:visible;margin-bottom: 10px');
                }
              };


              function show_n_vagas(){
                var remember = document.getElementById('is-driver');
                var passenger = document.getElementById('is-passenger');
                if (remember.checked){
                  passenger.checked = false;
                  document.getElementById('input-number-passenger').setAttribute('style','visibility:visible;margin-bottom: 10px');

                }else{
                  passenger.checked = true;
                  document.getElementById('input-number-passenger').setAttribute('style','visibility:hidden; display:none');
                }
              };

              function login_click(){
                window.location.href = "@routes.UserController.showLogin()"
              };

              function setLanguage(language) {
                $.ajax({
                  type: 'POST',
                  url: '/setLanguage/' + language,
                  success: function(response) {
                    window.location.href = '/register';
                  },
                  error: function(response) {
                    alert("ERRO")
                  }
                });
              }


      </script>


    </body>
  </html>

}
