@(form: play.data.Form[controllers.Models.User], errorMesage: String, strings: LocalizedStrings)


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width", initial-scale=1.0 charset="UTF-8" />
    <title>Carona</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login-style.css")">

  </head>
  <body>

    <div id="header">
      <h1>Carona</h1>
    </div>

    <div id="fields-update-datas" class="forms">

      <div id="updateDataLogo"class="text-center" >
        <div class="logo">@strings.get("update_update_data")</div>
      </div>


      @if(errorMesage != null && !errorMesage.trim().equals("")) {
        <div class="alert alert-danger">
          <p>@(errorMesage)</p>
        </div>
      }


      @helper.form(routes.UserController.updateData()) {
      <div id="input-departure-time" class="input">
          <div id="departure-time-name">@strings.get("update_departure_time")</div>
          <input type="time" name="departure-time" class="form-control"/>
        </div>

      <div id="input-return-time" class="input">
        <div id="return-time-name">@strings.get("update_return_time")</div>
        <input type="time" name="return-time" class="form-control"/>
      </div>

      <div id="verify-new-return-address">
        @strings.get("update_question_user")
        <input type="radio" name="new-address" onclick="show_update_return_address()"  id="is-new-return-address" value="track"/>@strings.get("update_tag_yes")
        <input type="radio"  name="old-address" onclick="hide_update_return_address()" id="is-old-return-address" checked />@strings.get("update_tag_no")
      </div>

      <div id="input-new-return-address" class="input" style="visibility: hidden;display: none">
        <input type="text" name ="new-return-address" class="form-control" placeholder="New Return District"/>
      </div>

      <button id="btn-update" type="submit" class="login-button">@strings.get("update_botton_update")
        <i class="fa fa-chevron-right"></i></button>
    </div>


    <footer class="well well-lg">
      @strings.get("footer")
      @if(strings.getLanguage().equals("EN")) {
        <a href="#" onclick="setLanguage('PT')">Veja em português</a>
      } else {
        <a href="#" onclick="setLanguage('EN')">See in english</a>
      }

    </footer>

    <script>
              function show_update_return_address(){
                var is_new_address = document.getElementById('is-new-return-address');
                var is_old_address = document.getElementById('is-old-return-address');
                if (is_new_address.checked){
                  is_old_address.checked = false;
                  document.getElementById('input-new-return-address').setAttribute('style','visibility:visible;margin-bottom: 10px');

                }else{
                  is_old_address.checked = true;
                  document.getElementById('input-new-return-address').setAttribute('style','visibility:hidden; display:none');
                }
              };


              function hide_update_return_address(){
                var is_old_address = document.getElementById('is-old-return-address');
                var is_new_address = document.getElementById('is-new-return-address');
                if (is_old_address.checked){
                  is_new_address.checked = false;
                  document.getElementById('input-new-return-address').setAttribute('style','visibility:hidden; display:none');

                }else{
                  is_new_address.checked = true;
                  document.getElementById('input-new-return-address').setAttribute('style','visibility:visible;margin-bottom: 10px');
                }
              };



              function setLanguage(language) {
                $.ajax({
                  type: 'POST',
                  url: '/setLanguage/' + language,

                  success: function(response) {
                    window.location.href = '/updateData';
                  },
                  error: function(response) {
                    alert("ERRO")
                  }
                });
              }

     </script>




  </body>
</html>

}